<ul id="article-list" class="container960 admin">
    <li>
        <a class="lbl lbl-blue" href="/admin/article/write/">Add article</a>
    </li>{{range .Articles}}
    <li>
        <span class="time">{{DateInt64 .CreateTime "MM.DD"}}</span><h4 class="inline-block title"><a href="{{.Link}}" target="_blank">{{.Title}}</a></h4>{{if ne .Status "publish"}}
        <span class="lbl status">Draft</span>{{end}}
        <span class="slug">{{.Slug}}</span>{{if eq .IsComment false}}
        <span class="is-comment">Close comments on</span>{{end}}
        <span class="count">{{.CommentNum}} / {{.Hits}}</span>
        <a class="edit lbl lbl-green" href="/admin/article/{{.Id}}/" rel="{{.Id}}">Edit</a>
        <a class="del lbl lbl-red" href="/admin/article/{{.Id}}/" rel="{{.Id}}">Delete</a>
    </li>{{end}}
</ul>
<ul id="article-pager" class="pager container960">{{range .Pager.PageSlice}}
    <li class="item{{if eq $.Pager.Current .}} current{{end}}"><a href="/admin/articles/?page={{.}}">{{.}}</a></li>{{end}}
</ul>
<script>
    $(".del").on("click",function(e){
        e.preventDefault();
        if(confirm("Articles for deletion will fail of related content！Confirmation？")){
            var id = $(this).attr("rel");
            $.ajax({
                "url":"/admin/article/"+id+"/",
                "type":"delete",
                "success":function(json){
                    if(json.res){
                        alert("Has been deleted");
                        window.location.reload();
                    }else{
                        alert(json.msg);
                    }
                }
            })
        }
    });
</script>