<div class="admin container clear" id="dashboard">
    <div class="grid-1-5 left">
        <div class="welcome">
            <h4>Welcome</h4>
            <p>Welcome back， <strong>{{.User.Nick}}</strong></p>
        </div>
        <div class="quick-link">
            <h4>Quick links</h4>
            <ul>
                <li><a href="/admin/article/write/">Written articles</a></li>
                <li><a href="/admin/page/write/">Adding a page</a></li>
                <li><a href="/admin/comments/">View and comment moderation</a></li>
                <li><a href="/admin/setting/">Modify the configuration</a></li>
                <li><a href="/admin/profile/">Updating personal information</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-1-2 left">
        <div class="activity">
            <h4>Latest activity</h4>{{range .Messages}}
            <div class="msg relative {{.Type}}">
                <span class="time">{{DateInt64 .CreateTime "MM.DD HH:mm"}}</span>
                <div class="data">{{Html .Data}}</div>
                <a class="read absolute" href="/admin/message/read?id={{.Id}}" rel="{{.Id}}">Hide</a>
            </div>{{end}}{{if lt (len .Messages) 1}}
            <p>No new information on the activities of</p>
            {{end}}
        </div>
    </div>
    <div class="grid-1-4 right">
        <div class="stats">
            <h4>Data and statistics</h4>
            <p>Already published articles <span class="lbl lbl-red">{{.Statis.Articles}}</span> Review，
            Page <span class="lbl lbl-red">{{.Statis.Pages}}</span> A， <br/>
            The comments received <span class="lbl lbl-blue">{{.Statis.Comments}}</span> Times，
            Upload <span class="lbl lbl-green">{{.Statis.Files}}</span> Annex，<br/>
            Commentators <span class="lbl lbl-green">{{.Statis.Readers}}</span> People</p>
            <p>The current version of the program：<strong>{{.Statis.Version}}</strong></p>
        </div>
        <div class="office">
            <h4>Official sources</h4>
            <p>There is no news</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
       $(".read").on("click",function(){
           var $this = $(this);
           $.post($this.attr("href"),function(json){
              if(json.res){
                  $this.parent().remove();
              }
           });
           return false;
       });
    });
</script>