<form id="password" class="form form-align clear" action="#" name="password-form" method="post">
    <p class="field">
        <label for="old">Old password</label>
        <input id="old" type="password" name="old" required="required" class="ipt"/>
        <span class="tip">Verify that the old password</span><br/>
        <span class="invalid lbl lbl-red hide" id="old-invalid">Password length4-20Characters</span>
    </p>
    <p class="field">
        <label for="new">The new password</label>
        <input id="new" type="password" name="new" required="required" class="ipt"/><br/>
        <span class="invalid lbl lbl-red hide" id="new-invalid">Password length4-20Characters</span>
    </p>
    <p class="field">
        <label for="confirm">Confirm password</label>
        <input id="confirm" type="password" name="confirm" required="required" class="ipt"/><br/>
        <span class="invalid lbl lbl-red hide" id="confirm-invalid">Confirm password does not match</span>
    </p>
    <p class="field">
        <label>&nbsp;</label>
        <button class="btn btn-blue">Save changes</button>
    </p>
</form>
<script>
    $(function(){
        new FormValidator("password-form",[
            {"name":"old","rules":"min_length[2]|max_length[20]"},
            {"name":"new","rules":"min_length[2]|max_length[20]"},
            {"name":"confirm","rules":"required|matches[new]"}
        ],function(errors,e){
            e.preventDefault();
            $('.invalid').hide();
            if(errors.length){
                $("#"+errors[0].id+"-invalid").removeClass("hide").show();
                return;
            }
            $('#password').ajaxSubmit(function(json){
                if(!json.res){
                    alert(json.msg);
                }else{
                    alert("Has been saved");
                }
            });
        })
    });
</script>