<ul id="plugin-list" class="container960 admin">{{range .Plugins}}
    <li class="clear">{{if .IsActive}}
        <span class="left lbl active lbl-green">&nbsp;</span>{{end}}
        <span class="name left">{{.Name}}</span>
        <span class="version left">{{.Version}}</span>{{if .HasSetting}}
        <a class="setting left" href="/admin/plugins/{{.Key}}/">Options</a>{{end}}{{if .IsActive}}
        <a class="deactivate lbl lbl-red right" href="#" rel="{{.Key}}">Seal</a>{{else}}
        <a class="activate lbl lbl-blue right" href="#" rel="{{.Key}}">Activation</a>{{end}}
        <p class="desc left">{{.Desc}}</p>
    </li>{{end}}
</ul>
<script>
    $(function () {
        $(".deactivate").on("click", function () {
            var $this = $(this);
            var p = $this.attr("rel");
            $.post("", {
                "action": "deactivate",
                "plugin": p
            }, function (json) {
                if (json.res) {
                    $this.off("click").text("The next activation");
                } else {
                    alert("Seal failure");
                }
            })
        });
        $(".activate").on("click", function () {
            var $this = $(this);
            var p = $this.attr("rel");
            $.post("", {
                "action": "activate",
                "plugin": p
            }, function (json) {
                if (json.res) {
                    $this.off("click").text("Next time seals");
                } else {
                    alert("Activation failed");
                }
            })
        })
    });
</script>