<form id="profile" class="admin form clear form-align" action="#" method="post" name="profile-form">
    <div class="avatar grid-1-4 left text-center">
        <img src="{{.User.Avatar}}" alt="{{.User.Nick}}" class="field"/>
        <span class="tip field inline-block">Avatar by <a href="http://gravatar.com/" target="_blank" rel="no-follow">Gravatar</a> Provides</span>
        <p class="field">
            <a class="btn btn-red inline-block" href="/admin/password/">Modify password</a>
        </p>
    </div>
    <div class="info right grid-3-4">
        <p class="field">
            <label for="user">Login name</label>
            <input id="user" type="text" name="user" value="{{.User.Name}}" required="required" class="ipt"/>
            <span class="tip">Login user name</span><br/>
            <span class="invalid lbl lbl-red hide" id="user-invalid">User name for letters+Digital，Length4-20Characters</span>
        </p>
        <p class="field">
            <label for="nick">Nicknames</label>
            <input id="nick" type="text" name="nick" value="{{.User.Nick}}" required="required" class="ipt"/>
            <span class="tip">Displayed in the foreground</span>
            <br/><span class="invalid lbl lbl-red hide" id="nick-invalid">Nickname length2-20Characters</span>
        </p>
        <p class="field">
            <label for="email">Mailbox</label>
            <input id="email" type="email" name="email" value="{{.User.Email}}" required="required" class="ipt"/>
            <span class="tip">Contact email，The importance of！</span>
            <br/><span class="invalid lbl lbl-red hide" id="email-invalid">Mailbox format error</span>
        </p>
        <p class="field">
            <label for="url">Web site</label>
            <input id="url" type="url" name="url" value="{{.User.Url}}" class="ipt"/>
            <br/><span class="invalid lbl lbl-red hide" id="url-invalid">Error in URL format</span>
        </p>
        <p class="field">
            <textarea class="ipt bio" name="bio" id="bio">{{.User.Bio}}</textarea>
        </p>
        <p class="field">
            <label>&nbsp;</label>
            <button class="btn btn-blue">Save changes</button>
        </p>
    </div>
</form>
<script>
    $(function(){
        new FormValidator("profile-form",[
            {"name":"user","rules":"alpha_numeric|min_length[4]|max_length[20]"},
            {"name":"nick","rules":"min_length[2]|max_length[20]"},
            {"name":"email","rules":"valid_email"},
            {"name":"url","rules":"valid_url"}
        ],function(errors,e){
            e.preventDefault();
            $('.invalid').hide();
            if(errors.length){
                $("#"+errors[0].id+"-invalid").removeClass("hide").show();
                return;
            }
            $('#profile').ajaxSubmit(function(json){
                if(!json.res){
                    alert(json.msg);
                }else{
                    alert("Has been saved");
                }
            });
        })
    });
</script>