<ul id="setting-nav" class="container text-center">
    <li><a href="#general">Basic</a></li>
    <li><a href="#content">Content</a></li>
    <li><a href="#nav">Navigation</a></li>
    <li><a href="#custom">Custom</a></li>
</ul>
<div id="setting-panels" class="container">
    <form id="setting-form" class="setting-form form form-align setting-panel" action="/admin/setting/" method="post">
        <p class="item">
            <label for="site-url">Site address</label>
            <input id="site-url" class="ipt" type="url" name="site_url" required="required" value="{{Setting `site_url`}}"/>
        </p>
        <p class="item">
            <label for="site-title">Site title</label>
            <input id="site-title" class="ipt" type="text" name="site_title" required="required" value="{{Setting `site_title`}}"/>
        </p>
        <p class="item">
            <label for="site-sub-title">Site subtitle</label>
            <input id="site-sub-title" class="ipt" type="text" name="site_sub_title" required="required" value="{{Setting `site_sub_title`}}"/>
        </p>
        <p class="item">
            <label for="site-keywords">MetaKeywords</label>
            <input id="site-keywords" class="ipt" type="text" name="site_keywords" value="{{Setting `site_keywords`}}"/>
        </p>
        <p class="item">
            <label for="site-desc">MetaSite introduction</label>
            <input id="site-desc" class="ipt" type="text" name="site_description" value="{{Setting `site_description`}}"/>
        </p>
        <p>
            <label>&nbsp;</label>
            <button class="btn btn-blue">Save</button>
        </p>
    </form>
    <form id="setting-content-form" class="setting-form form form-align setting-panel" action="/admin/setting/" method="post">
        <p class="item">
            <label for="article-size">Number of single page list of articles</label>
            <input id="article-size" class="ipt" type="number" name="article_size" value="{{Setting `article_size`}}" max="10" min="3" required="required"/>
        </p>
        <p class="item">
            <label for="popular-size">List of popular articles</label>
            <input id="popular-size" class="ipt" type="number" name="popular_size" value="{{Setting `popular_size`}}" max="10" min="3"  required="required"/>
        </p>
        <p class="item">
            <label for="recent-comment-size">Recent comments list</label>
            <input id="recent-comment-size" class="ipt" type="number" name="recent_comment_size" value="{{Setting `recent_comment_size`}}" max="10" min="3" required="required"/>
        </p>
        <p class="item">
            <label for="go-markdown">GoRenderingMarkdown</label>
            <input id="go-markdown" class="ipt" type="text" name="enable_go_markdown" value="{{Setting `enable_go_markdown`}}"/>
            <span class="tip block">Off by default，Use a front-endmarked.jsRendering，FilltrueTurned on when</span>
            <input type="hidden" name="enable_go_markdown_def" value="false"/>
        </p>
        <p>
            <label>&nbsp;</label>
            <button class="btn btn-blue">Save</button>
        </p>
    </form>
    <form id="setting-nav-form" class="setting-form form form-align setting-panel" action="/admin/setting/nav/" method="post">{{range .Navigators}}
        <p class="item">
            <span class="label">Sorting</span><input class="ipt order" type="number" name="order" value="{{.Order}}"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label">Text</span><input class="ipt text" type="text" name="text" value="{{.Text}}" required="required"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label">Title</span><input class="ipt title" type="text" name="title" value="{{.Title}}"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="label">Links</span><input class="ipt link" type="text" name="link" value="{{.Link}}" required="required"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="del" href="#">Delete</a>
        </p>{{end}}
        <p>
            <button class="btn btn-blue">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="lbl lbl-green add" href="#" rel="#nav-item">Add an entry</a>
        </p>
        <script type="text/template" id="nav-item">
            <p class="item">
                <span class="label">Sorting</span><input class="ipt order" type="number" name="order" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label">Text</span><input class="ipt text" type="text" name="text" value="" required="required"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label">Title</span><input class="ipt title" type="text" name="title" value=""/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label">Links</span><input class="ipt link" type="text" name="link" value="" required="required"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="del" href="#">Delete</a>
            </p>
        </script>
    </form>
    <form id="setting-custom-form" class="setting-form form form-align setting-panel" action="/admin/setting/custom/" method="post">{{range $k,$v := .Custom}}
        <p class="item">
            <input class="ipt key" type="text" name="key" value="{{$k}}"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="value" class="ipt value" type="text" value="{{$v}}"/>
            <a class="del" href="#">Delete</a>
        </p>{{end}}
        <p>
            <button class="btn btn-blue">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="lbl lbl-green add" href="#" rel="#custom-item">Add an entry</a>
            <span class="tip block">Use a function to customize configuration，Need prefix"c_"，Such asGetSetting("c_key")</span>
        </p>
        <script type="text/template" id="custom-item">
            <p class="item">
                <input class="ipt key" type="text" name="key" placeholder="Field name"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="value" class="ipt value" type="text" placeholder="Field value"/>
                <a class="del" href="#">Delete</a>
            </p>
        </script>
    </form>
</div>
<script src="http://libs.baidu.com/jquerytools/1.2.7/jquery.tools.min.js"></script>
<script>
    $(function () {
        $('#setting-nav').tabs(".setting-panel");
        $('.setting-form').ajaxForm(function (json) {
            alert(json.res ? "Has been saved" : json.msg);
        }).on("click",".add",function(e){
            e.preventDefault();
            $(this).parent().parent().prepend($($(this).attr("rel")).html());
        }).on("click",".del",function(e){
            e.preventDefault();
            if(confirm("You want to delete this item？")){
                $(this).parent().remove();
            }
        })
    })
</script>