<header class="cmd-header">
    <h1 class="cmd-title">System monitoring</h1>
</header>
<ul class="cmd-list" id="monitor-list">
    <li><span>GoroutineThe number of</span>： <strong>{{.M.NumGoroutine}}</strong></li>
    <li><span>System memory allocation</span>： <strong>{{.M.MemSys}}</strong></li>
    <li><span>Actual memory usage</span>： <strong>{{.M.MemHeap}}</strong></li>
    <li><span>Compulsory recycling limited</span>： <strong>{{.M.MemGc}}</strong></li>
    <li><span>The last recycle time</span>： <strong>{{.M.LastGcTime}}</strong> ago</li>
</ul>